.nav__container {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 90px;
    background-color: #14213D;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.logo {
    margin-right: auto;
    margin-left: 81px;
}

.nav__items {
    font-family: "Montserrat", sans-serif;
    display: flex;
    position: relative;
    left: -23%;
    gap: 120px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__item {
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.nav__item:hover {
    font-weight: 900;
}

.nav__item.active {
    font-weight: 900;
}

.auth {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: row;
    column-gap: 23px;
    justify-content: center;
    align-items: center;
    margin-right: 2%;
}

.login {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.login::after {
    content: "";
    position: absolute;
    top: 22px;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 3px;
    background-color: currentColor;
    transition: width 0.3s ease;
    border-radius: 20px;
}

.login:hover::after {
    width: 65%;
}

.sign {
    all: unset;
    font-family: "Montserrat", sans-serif;
    width: 140px;
    height: 40px;
    color: black;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    background-color: #E5E5E5;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
}

.sign:hover {
    background-color: #ffffff;
}

.sign:active {
    transform: scale(0.99);
}

.sign::before {
    content: '';
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.4) 50%,
            rgba(255, 255, 255, 0) 100%);
    transform: skewX(-20deg);
    transition: left 0.5s ease;
    pointer-events: none;
}

.sign:hover::before {
    left: 125%;
    transition: left 0.5s ease;
}